target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Eclipse artifacts
bin

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
!.idea/icon.svg
out
test-output
atlassian-ide-plugin.xml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

# Miscellaneous
*.java.hsp
*.sonarj
*.sw*
.DS_Store
build.sh

# Log files
jxl.log
jmx.log
derby.log

# Maven artifacts
/target/

node_modules
